@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url('/fonts/Gilroy-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    src: url('/fonts/Gilroy-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    src: url('/fonts/Gilroy-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('/fonts/Gilroy-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    src: url('/fonts/Gilroy-Extrabold.woff') format('woff');
}
@font-face {
    font-family: 'Cascadia Mono';
    src: url('/fonts/CascadiaCode.woff2') format('woff2');
}

@layer utilities {
    * {
        @apply transition-all duration-300 ease-in-out delay-75;
    }

    .hljs {
        background-color: transparent !important;
        padding: 0 !important;
    }
}
